{{ define "index/index.tmpl" }} {{template "public/header.tmpl" .}}

<style>
  body {
    padding: 16px;
  }
  .btnWrapper {
    margin: 12px;
  }
  #res {
    border: 3px solid cornflowerblue;
  }
  #res div {
    padding: 10px;
    white-space: pre-line;
  }
</style>

<body>
  <h1>{{.title}}</h1>

  <div>版本 {{.Ping}}</div>

  <div>点击按钮执行对应脚本</div>
  <br />
  <br />
  <br />
  <div class="ui input">
    <input type="password" id="password" placeholder="请输入密码" />
  </div>
  <br />
  <br />
  <div>
    {{ range $i, $v := .ShellList }}
    <div class="btnWrapper">
      <button class="runShellBtn ui primary button" key="{{$v.ID}}">执行脚本: {{ $v.Name }}</button>
    </div>
    {{ end }}
  </div>

  <h3>脚本执行结果:</h3>
  <div id="res">
    <div id="resMsg"></div>
    <div id="resData"></div>
  </div>
</body>
<script type="module">
  const shellBtn = document.getElementsByClassName('runShellBtn');
  for (let i = 0; i < shellBtn.length; i++) {
    const item = shellBtn[i];
    item.onclick = HandleShell;
  }

  const dataElm = document.getElementById('resData');
  const msgElm = document.getElementById('resMsg');
  const resElm = document.getElementById('res');

  function HandleShell(e) {
    const Elm = e.target;
    const key = Elm.getAttribute('key');
    const inputElm = document.getElementById('password');
    const password = inputElm.value;
    Elm.disabled = true;

    msgElm.innerHTML = '脚本执行中。。。';
    dataElm.innerHTML = '';
    resElm.style.borderColor = 'cornflowerblue';

    http
      .ajax({
        url: '/api/public/shell_run',
        data: {
          Password: password,
          ShellID: Number(key),
        },
        method: 'post',
      })
      .then((res) => {
        const data = res.data;
        dataElm.innerHTML = data.Data;
        msgElm.innerHTML = data.Msg;

        if (data.Code > 0) {
          resElm.style.borderColor = 'green';
        } else {
          resElm.style.borderColor = 'red';
        }
        Elm.disabled = false;
      })
      .catch((err) => {
        Elm.disabled = false;
      });
  }
</script>
{{template "public/footer.tmpl" .}} {{ end }}
