{{ define "index/index.tmpl" }} {{template "public/header.tmpl" .}}

<style>
  body {
    padding: 16px;
  }
  .runShellBtn {
    cursor: pointer;
    margin: 12px auto;
  }
  #res {
    border: 3px solid cornflowerblue;
  }
  #res div {
    padding: 10px;
    white-space: pre-line;
  }
</style>

<body>
  <h1>WebHook.net</h1>
  <div>当前服务版本: {{.AppPackage.Version}}</div>
  <br />
  <div class="pure-form">
    <input type="password" id="password" placeholder="请输入密码" />
  </div>
  <br />
  <div>
    {{ range $i, $v := .ShellList }}
    <div>
      <button class="runShellBtn pure-button pure-button-primary" key="{{$v.ID}}">
        执行
        <span> {{ $v.Name }} </span>
      </button>
      {{ end }}
    </div>
  </div>

  <h3>脚本执行结果:</h3>
  <div id="res">
    <div id="resMsg"></div>
    <div id="resData"></div>
  </div>
</body>
<script type="module">
  $('.runShellBtn').on('click', HandleShell);

  function HandleShell() {
    const key = $(this).attr('key');
    const password = $('#password').val();

    this.disabled = true;

    $('#resMsg').html('脚本执行中。。。');
    $('#resData').html('');

    $('#res').css('border-color', 'cornflowerblue');

    http
      .ajax({
        url: '/api/public/shell_run',
        data: {
          Password: window.mo7Encrypt(password),
          ShellID: Number(key),
        },
        method: 'post',
      })
      .then((res) => {
        const data = res.data;
        $('#resMsg').html(data.Msg);
        $('#resData').html(data.Data);

        if (data.Code > 0) {
          this.disabled = false;
          $('#res').css('border-color', 'green');
        } else {
          $('#res').css('border-color', 'red');
        }

        if (data.Code === -6) {
          this.disabled = false;
        }
      });
  }
</script>
{{template "public/footer.tmpl" .}} {{ end }}
